{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}



{{ form.user_picture }}
<div class="user-details">
    {{ form.account.name }}
    {{ form.account.mail }}
</div>
<div class="pass-details">
    {{ form.field_contact_number }}
    {{ form.account.current_pass }}
</div>

<div class="pass-change">
{{ form.account.pass }}
</div>
{{ form.account.status }}
{{ form.account.roles }}
{{ form.path}}
{{ form.actions }}


{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}



 