*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: $font-base;
  line-height: 1.3; 
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  font-style: normal;

}
.clear{
  float: left;
  width:100%;
  clear: both;
}
.clearfix{
  clear: both;
  &:after{
      clear: both;
      display: table;
      content: '';
  }
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
em {
  font-style: italic
}
h1, h2, h3, h4, h5, h6, .h1,.h2,.h3,.h4,.h4,.h6 {
  margin: 0 ;
}
ul {
  list-style: none; 
  }
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
blockquote, q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
sub, sup{
  font-size: 0.6em;
}
sub{
  vertical-align: 0;
}
sup{
  vertical-align: 0.5em;
}
.wrapper {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper .wrapper{
  padding-left: 0;
  padding-right: 0;
}

.hidden{
  display: none !important;
}