{#
/**
 * @file
 * Olivero's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{# <div class="product-detail-top">
<div class="top-container wrapper">
 <div><h4>{{ product_data.title }}</h4></div>
 <div class="breadcrumb-top">
 <ul>
  <li><a>Home</a></li>
  <li><a>product detail</a></li>
 </ul>
</div>
</div>
</div> #}
<div class="wrapper">
	<div class="product-wrapper">
		<div class="product-left">
			{# Display product image #}
			{% if product_data.image %}
				<img src="{{ product_data.image }}" alt="{{ product_data.title }}" width="500" height="500">
			{% else %}
				<p>No image available</p>
			{% endif %}
		</div>
		<div class="product-right">
			{# Display product ID and title #}
			<div class="product-detail-title">{{ product_data.title }}</div>
			{# Display product type, brand, and rating #}
			{# <p>Product Type: {{ product_data.type }}</p> #}
			<div class="product-detail-rating">{{ product_data.rating }}</div>
			<div class="product-detail-price">INR 1,200.00</div>
			<div class="product-Availability"><span>Availability:</span> In stock </div>
      <div class="short-desc"><p>Hooded Fleece Chest Stripe Sweatshirt is affordable, high-quality, and long-lasting everyday clothing you can rely on.</p></div>
			<div class="product-sku"><span>SKU:</span>Clothing_19</div>
      <div class="product-brand"><span>Brand:</span>{{ product_data.brand }}</div>

				{% for category in product_data.categories %}
					<div class="product-category"><span>category:</span>{{ category }}</div>
				{% endfor %}
		
      <div class="product-colour">
      <h4>Color</h4>
      <div class="product-colour-inner">
      {% for variation in product_data.variations %}
      <p>{{ variation.attribute_color.label }}</p>
      {% endfor %}
      </div>
      </div>
      <div class="product-size">
      <h4>Size</h4>
      <div class="product-size-inner">
      <p>S</p>
      <p>M</p>
      <p>L</p>
      </div>
       </div>
       <div class="product-quantity"></div>
       <div class="cart-button"><a class="button">Add to Cart</a></div




			{# Display product variations #}
			{# <p>Variations:</p>
			{% for variation in product_data.variations %}
				<div class="variation">
					<p>Variation ID:
						{{ variation.id }}</p>
					<p>SKU:
						{{ variation.sku }}</p>
					<p>Price:
						{{ variation.price }}</p>
					<p>Status:
						{{ variation.status ? 'Active' : 'Inactive' }}</p>
					<p>Title:
						{{ variation.title }}</p>
					<p>Color:
						{{ variation.attribute_color.label }}</p>
				</div>
			{% endfor %} #}
		</div>
	</div>
</div>

<div class="wrapper">
  <div class="product-detail-bottom">
    <div class="tabs-scroll">
      <ul class="custom-tabs">
        <li class="active" data-set="tab1"><a href="javascript:void(0)">Description</a></li>
        <li data-set="tab2"><a href="javascript:void(0)">Reviews</a></li>
      </ul>
    </div>
    <div class="tab-content tab1 show">
      <div class="description">
        <h4>Product Description</h4>
        {{ product_data.body|raw }}
      </div>
    </div>
    <div class="tab-content tab2">
      <div class="form">
        <div class=""><p>Coming soon</p></div>
      </div>
    </div>
  </div>
</div>
