{%
  set classes = [
  'items',
  'gap',
  'product-page',
]
%}

<div class="wrapper">
<article{{ attributes.addClass(classes) }}>
  <div class="product-image">
    {% if product.variation_field_image|render is not empty %}
      <div class="variation-image">{{- product.variation_field_image -}}</div>
    {% else %}
      <div class="single-image">{{- product.field_image -}}</div>
    {% endif %}
  </div>
  <div class="product-details">
    <h1 class="product-title">{{- product.title -}}</h1>
    <div class="product-fields">{{- product|without('field_image', 'variation_field_image', 'body') -}}</div>
  </div>

</article>
</div>

<div class="detail-wrapper">
  <div class="wrapper">
  <div class="product-detail-bottom">
    {# <div class="tabs-scroll">
      <ul class="custom-tabs">
        <li class="active" data-set="tab1"><a href="javascript:void(0)">Description</a></li>
        <li data-set="tab2"><a href="javascript:void(0)">Reviews</a></li>
      </ul>
    </div>
    #}
    <div class="tab-content tab1 show">
      <div class="description">
        <h4>Product Description</h4>
        {{ product_data.body|raw }}
      </div>
    </div>
    {#
    <div class="tab-content tab2">
      <div class="form">
        <div class=""><p>Coming soon</p></div>
      </div>
    </div>
    #}
  </div>
</div>