@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.page-404{
    min-height: unset;
    .no-page-container-wrapper{ 
        .wrap-error {
            padding: 60px 0;
            background-color: #0093FF;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f0b608' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e6d710' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e7af05' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e7d808' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d8a408' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f1e213' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0b607' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e4d506' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23eab822' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e8da14' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e8b008' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23edde14' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0px 63px;
            height: calc(var(--vh, 1vh) * 100);
             display: flex; 
            align-items: center; 
            flex-direction: column;
            justify-content: center;
                .website-logo{
                    text-align: center;
                }
                .wrap-inner{
                    display: flex;
                    margin-top:80px;
                    
                    .container{
                        max-width: 1140px;
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                        margin-right: auto;
                        margin-left: auto;
                      }
                      .row{
                        text-align: center;
                      }
                  }
          }
          
         
          .wrap-error h1 {
            font-size: 6.875rem;
            letter-spacing: -13px;
            line-height: 1;
            font-family: montserrat, sans-serif;
            color:#fff;
          }
          h1 span {
            text-shadow: -8px 0 0 #0093FF;
          }
          h5{
            font-size: 1.25rem;
            /* margin-bottom: 1.5rem!important; */
            color: #fff;
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
          }
          p{
            margin-bottom: 1.5rem!important;
            color: #fff;
          }
          .text-9xl {
            font-size: 5.5rem;
          }
          .btn-dark{
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
            display: inline-block;
            cursor: pointer;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          }
          
        }
}
