.checkout-form{
    padding-bottom:40px;
    .layout-region-checkout-main{
        legend{
            border-bottom: 3px solid #d7d7d7;
            padding-bottom: 5px;
            margin-bottom: 25px;
            width: 100%;
            .fieldset__label{
                font-size: 20px;
                font-weight: 700;
                color: #2ba9e0;
            }
        }
        label{
            font-size: inherit;
            font-weight: 700;
            color: #2a2a2a;
        }
        input, select{
            padding: 12px 20px 12px 20px;
            border: 1px solid #e1e1e1;
            background-color: transparent;
            outline: none !important;
            max-width: 100%;
            border-radius: 50px;
        }
        .fieldset__wrapper{
            .js-form-item {
                legend{
                    width:unset;
                    span{
                        color: black;
                        font-size: 16px;
                    }
                }
                .form-boolean-group{
                    display: flex;
                    gap: 60px;
                    .form-item-payment-information-payment-method {
                        display: flex;
                        align-items: center;
                        gap:6px;
                        input{
                            margin:0;
                        }
                        label{
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        .credit-card-form__expiration {
           
            margin-bottom: 20px;
        }
        .checkout-pane{
            #edit-review-contact-information{
                .fieldset__wrapper{
                    line-height: 2;
                color:#555555;
                }
            }
            #edit-review-payment-information{
                .fieldset__label{
                    a{
                        color: #27b160;
                    }
                }
            }
            .field--name-label{
                line-height: 2;
                color:#555555;
                margin-top: 10px;
            }
            .field--name-expires{
                line-height: 2;
                color:#555555;
            }
            p.address{
                line-height: 2;
                color:#555555;
                margin-top: 10px;
            }
            .address-book-edit-button{
                background-color: #2ba9e0;  
                font-size: 13px;
                margin-top: 15px;
            }
           
           
            
        }
        
        
        
    }
    .layout-region-checkout-secondary{
        h3{
            font-size: 18px;
            color: #333333;
        }
        .checkout-order-summary{
            padding: 40px 25px;
            background-color: #f8f8f8;
            border-radius: 5px;
            margin-bottom: 30px;
            table{
                background: none;
                tr{
                    td{
                        background-color: transparent;
                        border-right: none;
                        color: #555555;
                        &:first-child {
                            border-left: none;
                            
                        }
                    }
                }
                
            }
            .order-total-line {
                padding: 10px;
                text-align: right;
                .order-total-line-value{
                    width: 116px;
                }
            }
            .order-total-line__total{
                background-color: #efefef;
            }
           
        }
        .form-text{
            padding: 12px 20px 12px 20px !important;
            border: 1px solid #e1e1e1 !important;
            background-color: transparent !important;
            outline: none !important;
            max-width: 100% !important;
            border-radius: 50px !important;
        }
        .button{
            font-size:13px;
        }
        label{
            font-size: inherit;
            font-weight: 700;
            color: #2a2a2a;
        }
        #edit-sidebar-coupon-redemption-form{
            table{
                padding: 4px 16px;
                border: 1px solid #e1e1e1;
                background-color: transparent;
                outline: none !important;
                max-width: 100%;
                border-radius: 46px;
                @include mquery(mobile){
                    margin-bottom: 20px;
                }
            
                tr{
                    td{
                        border:none !important;
                        color: limegreen;
                            font-weight: 900;
                        &:nth-child(2){
                            text-align: right;
    
                        }
                    }
                   
                }
            }
        }
    }
    .layout-region-checkout-footer{
        .button{
            font-size:13px;
            margin-right:10px;
        }
        a{
            color:#2a2a2a;
            &:hover{
                color:#2ba9e0;
            }
        }
    }
    
}

.commerce-checkout-flow-multistep-default{
    input, select{
        padding: 12px 20px 12px 20px;
        border: 1px solid #e1e1e1;
        background-color: transparent;
        outline: none !important;
        max-width: 100%;
        border-radius: 50px;
    }
    .form-item-login-register-user-picture-0{
        display: none;
    }
    .description{
        color: #555555;
        font-size: 12px;
    }
    .button{
        background-color: #2ba9e0;
    }
    a{
        margin-left: 10px;
        color:#2a2a2a;
        &:hover{
            color:#2ba9e0;
        }
    }
    legend{
        border-bottom: 2px solid #d7d7d7;
        padding-bottom: 5px;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 700;
        color: #2ba9e0;
        width: 100%;
    }
}
#commerce-checkout-flow-multistep-default{
    max-width: 1250px;
    margin: 0 auto;
}