.empty-cart{
    .cart-empty-page{
       
            line-height: 2;
            text-align: center;
            font-size: 20px;
            color: #585858;
            img{
                max-width:400px;
                margin-bottom: 30px;
            }
            p{
                font-size: 16px;
                color: #585858;
                margin-top: 10px;
            }
           .btn-dark{
            margin-top: 30px;
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
            display: inline-block;
            cursor: pointer;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
           }
    }
}