.order-confirmation {
    margin: 60px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @include mquery(mobile){
        margin: 40px auto;
    }
    .order-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        @include mquery(small){
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            
        }
    .order-info{
        display: flex;
        align-items: end;
        gap: 20px;
        img{
            max-width: 120px;
        }
        .order-info-text{

            h1 {
                font-size: 24px;
                color: #2d72d9;
                @include mquery(mobile){
                   font-size: 18px;
                }
            }
        }
    }
       
    
        .order-actions {
            @include mquery(small){
                margin-top: 15px;
            }
            .my-orders-btn {
                background-color: #2d72d9;
                color: #fff;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
    
    .order-details {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
    
        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }
    
        .delivery-address, .rewards, .more-actions {
            flex: 1;
    
            p, a {
                margin: 5px 0;
                color: #555;
            }
    
            a {
                color: #2d72d9;
                text-decoration: none;
            }
        }
    
        .more-actions {
            text-align: right;
    
            button {
                background-color: #f3f3f3;
                padding: 5px 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                cursor: pointer;
                margin: 5px 0;
            }
            p{
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 70px;
            }
            }
        
    }
    
    .order-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
    
        img {
            width: 80px;
            height: auto;
        }
    
        .item-details {
            flex: 2;
            padding-left: 20px;
    
            p {
                margin: 5px 0;
                color: #555;
                a{
                    margin:0;
                }
            }
        }
    
        .item-price {
            flex: 1;
            text-align: right;
    
            p {
                margin: 5px 0;
                color: #333;
            }
    
            .offer-applied {
                color: green;
                font-size: 14px;
            }
    
            .cancel-btn {
                background-color: #f3f3f3;
                padding: 5px 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 20px;
                display: inline-block;
            }
        }
    }
    
    .view-footer{
        padding-top: 20px;
        text-align: right;
        strong{
            font-size:16px;
            font-weight:bolder;
            color:#333;
        }
        p {
            color: green;
        }
        .payment-summary-line{
            margin-bottom:10px;
        }
        .payment-summary-line-value {
            width:118px;
        }
    
        
    }
}

