.product-detail-top{
    background-color: #f7f7f7;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    .top-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
     h4{
        font-size: 20px;
        color: #333333;
        font-weight: 500;
     }
     
}
}
.product-page{
    display:flex;
    padding: 60px 0;
    @include mquery(medium){
        display: block;
    }
    .product-image{
        width: 50%;
        @include mquery(medium){
            width: 100%;
        }
        img{
          width: 100%;
          // max-width: 580px;
          max-height: 580px;
          object-fit: contain;
        }
        .product-big{
          border: 1px solid #eaeaea;
          padding: 20px;
          border-radius: 7px;
        }
    }
    .product-details{
        width: 50%;
        padding-left: 30px;
        @include mquery(medium){
            width: 100%;
            padding-top: 20px;
            padding-left:0;
        }
        .product-title{
            font-weight: 600;
            line-height: 1.2;
            color: #333333;
            font-size: 20px;
            margin-bottom: 15px;
        }
        
            .product-fields {
              position: relative;
              [class^="product--variation-field--variation_attribute_color__"] {
                display: none;
              }
        
              [class^="product--variation-field--variation_price__"] {
                font-weight: bold;
                color: #2ba9e1;
                font-size: 25px;
                margin-bottom: 15px;
              }
              [class^="product--variation-field--variation_attribute_size__"] {
                display: none;
              }
              .field--name-field-rating{
                margin-bottom: 10px;
              }
        
              .field--name-field-product-categories {
                display: flex;
                margin-bottom: 30px;
                .field__label{
                    font-weight: 700;
                  color: #2a2a2a;
                  min-width: 90px;
                  position: relative;
                  &::after{
                    content: ":";
                    margin-left: 2px;
                    position: absolute;
                   } 
                }
        
                .field__items {
                  display: flex;
                  margin-left: 30px;
        
                  .field__item {
                    margin-right: 10px;
                  }
                }
              }
        
              .field--name-field-rating {
                .fivestar-average-stars {
                  .fivestar-widget {
                    &.fivestar-widget-5 {
                      margin-bottom: 10px;
                    }
                  }
                }
                input{
                    margin:15px 0;
                }
              }
        
              .field--name-field-featured {
                display: flex;
                border-bottom: 1px solid #eaeaea;
                padding-bottom: 15px;
                margin-bottom: 25px;
        
                .field__label {
                  font-weight: 700;
                  color: #2a2a2a;
                }
        
                .field__item {
                  margin-left: 10px;
                  font-size: 14px;
                  color: green;
                }
              }
        
              //.field--name-variations {
                .field__label {
                  font-weight: 700;
                  color: #2a2a2a;
                  font-size: 16px;
                  margin-bottom: 10px;
                }
        
                .field__items {
                  .field__item {
                    [id^="commerce-product-add-to-cart-form"] {
                      fieldset {
                        display: flex;
        
                        .fieldset__legend {
                          margin-bottom: 5px;
        
                          span {
                            font-weight: 700;
                            color: #2a2a2a;
                          }
                        }
        
                        .fieldset__wrapper {
                          .form-type-boolean {
                            label {
                              padding: 0;
                              border-radius:50px;
        
                              .color_field__swatch {
                                height: 20px !important;
                                width: 20px !important;
                                display: block !important;
                                border-radius:50px;
                              }

                            }
                          }
                        }
                      }

                      [id^="edit-purchased-entity-0-attributes-attribute-size--wrapper"]{
                        .form-type-boolean {
                            label {
                              padding: 10px !important;
                            }
                        }
                      }
        
                      .field--name-quantity {
                        .form-item {
                          > label {
                            font-weight: 700;
                            color: #2a2a2a;
                            font-size: 14px;
                            margin-bottom: 7px;
                          }
        
                          > input {
                            padding: 12px 20px 12px 20px;
                            border: 1px solid #e1e1e1;
                            background-color: transparent;
                            outline: none !important;
                            max-width: 150px;
                            border-radius: 50px;
                          }
                        }
                      }
        
                      .form-actions {
                        .button--add-to-cart {
                          margin-right: 10px;
                        }
                      }
                    }
                  }
                }
              //}

              .field--name-sku{
                border-top: 1px solid #eaeaea;
                padding-top: 30px;
              }

              .field--name-field-product-brand, .field--name-sku  {
                display: flex;
                .field__label {
                  font-weight: 700;
                  color: #2a2a2a;
                  min-width: 90px;
                  position: relative;
                  &::after{
                    content: ":";
                    margin-left: 2px;
                    position: absolute;
                   } 
                }
        
                .field__item {
                    margin-left:30px;
                  a {
                    color: #555555;
                  }
                }
              }
            }
            .flag-wishlist.action-flag, .flag-wishlist.action-unflag{
              position: absolute;
              top: -40px;
              right: 0;
              a{
              display: block;
              width: 30px;
              height: 30px;
              background: url(../images/wishlist.png) no-repeat;
              background-size: contain;
              transition: 0.2s ease-in-out; 
              text-indent: -9999px;
              overflow: hidden;
              }
            }
            .flag-wishlist.action-unflag{
              a{
                background: url(../images/red-wishlist.png) no-repeat;
                background-repeat: no-repeat; 
                background-size: contain;
      
              }
            }  
}
}

.product-detail-bottom{
    padding-bottom: 60px;
}

// tabs //

.tabs-scroll {
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 40px;
    .custom-tabs {
        display: flex;
        li {
            cursor: pointer;
            &.active{
                a{
                color: #2ba9e0;
                }
            }
            a {
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 20px;
                margin-right: 30px;
                display: inline-block;
                &:hover{
                    color: #2ba9e0;
                }
            }
        }
    }
}

.tab-content {
    display: none;
    padding-bottom: 10px;
    border-top: none;
    ul{
        @include list;
        li{
            color: #555555;
            padding-bottom: 2px;
        }
    }
    .description{
        h4{
            font-size: 24px;
            margin-bottom: 20px;
            color: #333333;
            font-weight: 500;
        }
    }
}
.tab-content.show {
    display: block;
}

.js-hide {
  display:none;
}

.field--name-field-short-description {
  border-top: 1px solid #eaeaea;
    margin-top: 15px;
    padding: 30px 0;
    color: #555555;
}

// zoom image slider//
.imagezoom-slider{
  margin-top: 30px;
  &:hover{
    ul{
      .slick-arrow{
        display: block!important;
      }
    }
  }
  ul{
    .slick-arrow{
      width: 35px;
      height: 35px;
      display: none!important;
    }
    .slick-arrow.slick-prev{
     left: 2px;
    }
    .slick-arrow.slick-next{
      right: 25px;
    }
    li{
      a{
        display: flex;
        justify-content: space-between;
        img{
          width: 100px!important;
          height: 100px;
          object-fit: contain;
          border: 1px solid #eaeaea;
          padding: 7px;
        }
      }
    }
  }
}