.wishlist-section{
    @include mquery(tab){
        overflow-x: auto;
        max-width: 100%;
        margin: unset;
        padding: unset;
    }
    table {
        thead {
            text-transform: uppercase;
            background: #f5f5f5;
            th{
                text-align: center;
                border: none;
                padding: 8px;
                color: #444444;
                font-size: 14px;
                font-weight: 600;
                background-color: unset;
            }
        }
        tbody{
            tr{
                td{
                    text-align: center;
                    border: none;
                    padding: 20px;
                    color: #333333;
                    font-size: 13px;
                    border-bottom: 1px solid #eeeeee !important;
                    
                    a{
                        color: #333333 !important ;
                        &:hover{
                            color:#007bff !important;
                        }
                    }
                    input{
                        padding: 12px 20px 12px 20px;
                        border: 1px solid #e1e1e1;
                        background-color: transparent;
                        outline: none !important;
                        max-width: 100%;
                        border-radius: 50px;
                    }
                    .move-wishlist-item {
                        font-size: 13px;
                        background-color: #2ba9ee;
                    }
                    .delete-wishlist-item{
                        font-size: 13px;
                        background-color: #2ba9ee;
                    }
                }

            }
        }
    }
    #edit-actions{
        display:none;
    }
}

.path-products{
    main{
        min-height:unset;

    }
    .no-search-results{
        padding:0;
        img{
            max-width:200px;

        }
        .inner-text1{
            font-size: 20px;

        }
        .inner-text2{
            font-size: 14px;


        }
    }
}