.path-login, .path-register, .path-password {
    main{
        .login-above-content{
            background-color: #f7f7f7;
            
        }
        .login-container-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: calc(100vh - 57px);
            .login-container{
                background-image: url(/themes/contrib/vitoria/images/login-bg.svg);
                background-repeat: no-repeat;
                background-position: center;
                padding: 108px;
                @include mquery(mobile){
                    padding:68px;
                }
                
                .website-logo{
                    text-align: center;
                    margin-bottom: 50px;
                    img{
                        max-width: 80px;
                    }
                }
                form{
                                margin:0 auto;
                                width: calc(100% - 30px);
                                max-width: 370px;
                                @include mquery(mobile){
                                    width: 100%;
                                }
                                input{
                                    padding: 12px 20px 12px 20px;
                                    border-radius: 6px;
                                    outline: none !important;
                                    max-width: 100%;
                                    border: 0;
                                    background-color: #f1f1f1;
                                    @include mquery(mobile){
                                        padding:8px 20px 8px 20px;
                                    }
                                }
                                h1{
                                    text-align: left;
                                    color: #000;
                                    font-weight: 700;
                                }
                                p{
                                    color: #555555;
                                    font-size: 12px;
                                }
                                .form-item{
                                    @include mquery(mobile){
                                        margin-bottom: 10px;

                                    }
                                }
                                
                                .login-form{
                                    padding: 35px 30px;
                                    background-color: #fff;
                                    border-radius: 10px;
                                    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
                                    border: 0;
                                    .forgot-link{
                                        a{
                                            float: right;
                                            font-style: italic;
                                            color: #333333;
                                            font-size: 12px;
                                            margin-top: -15px;  
                                                @include mquery(mobile)  {
                                                    font-size: 10px;
                                                    margin-top: -7px;
                                                    color: #2ba9e0;
                                                }           
                                            &:hover{
                                                color: #2ba9e0;
                                            }
                                        }
                                    }
                                    .button{
                                       @extend .primary-button;
                    
                                    }
                                    .register-link{
                                        margin-top: 20px;
                                        margin-left: 10px;
                                        color: #000;
                                        @include mquery(mobile){
                                            font-size:12px;
                                            margin-left: 0;
                                        }
                                        a{
                                            color: #2ba9e0;
                                            &:hover{
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                   
                                }
                                .register-form{
                                    padding: 35px 30px;
                                    background-color: #fff;
                                    border-radius: 10px;
                                    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
                                    border: 0;
                                    .button{
                                        @extend .primary-button;
                                        margin-top: 15px;
                                        
                                    }
                                    .form-item__description{
                                        font-size: 11px;
                                        color: #999;
                                        font-style: italic;
                                    }
                                    #edit-mail--description{
                                        display: none;
                                    }
                                    #edit-name--description{
                                        display: none;
                                    }
                                    .login-link{
                                        margin-top: 20px;
                                        margin-left: 10px;
                                        color:#000;
                                        @include mquery(mobile){
                                            font-size:12px;
                                            margin-left: 0;
                                        }
                                        a{
                                            color: #2ba9e0;
                                            &:hover{
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                   
                    
                                }
                                .password-form{
                                    padding: 35px 30px;
                                    background-color: #fff;
                                    border-radius: 10px;
                                    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
                                    border: 0;
                                    .button{
                                        @extend .primary-button;
                                        margin-top: 15px;
                                    }
                                    .login-link{
                                        margin-top: 20px;
                                        margin-left: 10px;
                                        @include mquery(mobile){
                                            font-size:12px;
                                            margin-left: 0;
                                        }
                                        a{
                                            font-weight: 700;
                                            color: #000;
                                            &:hover{
                                                color: #2ba9e0;
                                            }
                                        }
                                    }
                                
                            }
               }
               .messages__wrapper {
                margin: 0 auto;
                width: calc(100% - 30px);
                max-width: 370px;
               }
        
        }
        }
 
}
}

.path-my-profile, .path-profile {
    .user-form, .profile-form{
        width: 85%;
        margin: auto;
        
        .form-item-user-picture-0{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            text-align: center;
        }
        .user-details{
            display: flex;
                justify-content: space-between;
            .js-form-item-name, .js-form-item-mail{
                width:48%;
            }
        }
        .pass-details{
            display: flex;
                justify-content: space-between;
            #edit-field-contact-number-wrapper{
                width: 48%;
                .iti--allow-dropdown{
                    width: 100%;
                }
            }
            .form-item-current-pass{
                width: 48%;
            }
        }
        .pass-change{
            .js-form-type-password-confirm{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .password-strength__meter{
                    display: none;
                }
                .password-parent,
                .confirm-parent {
                flex: 0 1 48%; 
                
                }

                .password-parent .form-item__label,
                .confirm-parent .form-item__label {
                display: block;
                margin-bottom: 8px;
                }

                .password-strength,
                .password-confirm-message {
                margin-top: 8px;
                }
                
            }
            
        }
        .js-form-item-path-0-alias{
            width:47%;
        }
        label{
            font-size: inherit;
            font-weight: 700;
            color: #2a2a2a;
        }
        input, select{
            border: 1px solid #e1e1e1;
            background-color: transparent;
            outline: none !important;
            max-width: 100%;
            border-radius: 50px;
        }
        .description{
            // color: #555555;
            // font-size: 12px;
            display:none;
        }
        
        #edit-status{
            display: flex;
            align-items: center;
            gap:20px;
            .form-item-status {
                display: flex;
                align-items: center;
                gap:10px;
                
                .form-radio{
                    margin:0;
                }
                label{
                    padding:0;
                    font-weight: 300;
                }
            }
        }
        #edit-roles{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            .js-form-type-checkbox {
                display: flex;
                align-items: center;
                gap:10px;
                margin-right:20px;
                
                .form-checkbox{
                    margin:0;
                }
                label{
                    padding:0;
                    font-weight: 300;
                }
            }
        }
        .form-item-user-picture-0 {
            img{
                border-radius: 23px;
                max-width: 80px;
                margin-bottom: 20px;
            }
            #edit-user-picture-0-upload-button{
                margin:20px 0 10px;
            }
        }
        .button{
            background-color: #2ba9e0 !important;
            font-size: 13px;
            line-height: 1;
            border: 1px solid #e1e1e1;
            padding: 12px 20px 12px 20px;
            
        }
        legend{
            margin-bottom:10px;
           
            font-weight: 700;
            
        }
    }
    
}