{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="empty-cart">
  <div class="wrapper">
    <div class="cart-empty-page">
      <div><img src="{{ base_path ~ directory }}/images/empty-cart.webp" alt="empty-cart-img"/></div>
      
      {% if logged_in %}
        {{ 'Your shopping cart is empty !!'|t }}
        <p>Looks like you haven’t added anything to your cart yet. Start shopping to fill it up!</p>
        <div>
          <a class="btn btn-dark" href="/" title="home url">CONTINUE SHOPPING</a>
        </div>
      {% else %}
        {{ 'Your shopping cart is empty !!'|t }}
        <p>Create an account or log in to track your orders and manage your cart easily.</p>
        <div>
          <a class="btn btn-dark" href="{{ path('user.login') }}" title="Login">LOGIN</a>
        </div>
        
      {% endif %}
      
    </div>
  </div>
</div>



